@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/elevatezoom/jquery.elevateZoom.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/pgwslider/pgwslider.min.js");
    Html.AppendCssFileParts($"~/lib/pgwslider/pgwslider.min.css");
}
<div class="gallery">

    @if (Model.DefaultPictureZoomEnabled)
    {
        <ul class="pgwSlider">
            @foreach (var picture in Model.PictureModels)
            {
                <li>
                    @*<a href="@picture.FullSizeImageUrl" data-standard="@picture.ImageUrl" title="@picture.Title" id="main-product-img-lightbox-anchor-@Model.Id">*@
                    <div id="main-product-img-@Model.PictureModels.IndexOf(picture)">
                        <img alt="@picture.AlternateText" src="@picture.FullSizeImageUrl" data-large-src="@picture.FullSizeImageUrl" title="@picture.Title" itemprop="image"
                             id="thumb-product-img-@Model.PictureModels.IndexOf(picture)"/>
                    </div>
                    @*</a>*@
                </li>
            }
        </ul>

        <script>
            $(document).ready(function () {
                $('.pgwSlider').pgwSlider({
                    autoSlide: false,
                    listPosition: 'left',
                    adaptiveHeight: true,
                    transitionEffect: 'sliding',
                    beforeSlide: function () { 
                        $('.zoomContainer').remove();
                    },
                    //hide the caption
                    afterSlide: function () {
                        $('.pgwSlider .ps-current .ps-caption').hide();                        
                        $('.pgwSlider .ps-current img').elevateZoom({
                            cursor: "crosshair",
                            zoomWindowFadeIn: 500,
                            zoomWindowFadeOut: 750,
                            zoomWindowHeight: 600,
                            zoomWindowWidth: 600
                        }); 
                    }
                });
                $('.pgwSlider .ps-current img').each(function () {
                    $(this).attr('data-zoom-image', $(this).attr('src'));
                                     
                });

                //hide the thumbnail captions                                
                $('.pgwSlider .ps-list span').hide();                
            });
        </script>
    }
    else
    {
        foreach (var picture in Model.PictureModels)
        {
            <img alt="@picture.AlternateText" src="@picture.ImageUrl" data-zoom-image="@picture.FullSizeImageUrl" title="@picture.Title" itemprop="image" id="main-product-img-@Model.Id" />
        }
    }   
</div>
