@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/easyzoom/easyzoom.js");
    //to do add owl carousel thumbnail https://github.com/gijsroge/OwlCarousel2-Thumbs
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/owlcarousel/thumbs/owl.carousel2.thumbs.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/easyzoom/easyzoom.js");
    Html.AppendCssFileParts($"~/lib/easyzoom/easyzoom.css");
    Html.AppendCssFileParts($"~/lib/easyzoom/example.css");
    Html.AppendCssFileParts($"~/lib/easyzoom/pygments.css");
    Html.AppendCssFileParts($"~/lib/animate/animate.css");
}
<div class="gallery">

    @if (Model.DefaultPictureZoomEnabled)
    {
        <ul class="thumbnails col-md-4">
            @foreach (var picture in Model.PictureModels)
            {
                <li>
                    <a href="@picture.FullSizeImageUrl" data-standard="@picture.ImageUrl" title="@picture.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                        <img alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" itemprop="image" id="thumb-product-img-@Model.Id" />
                    </a>
                </li>
            }
        </ul>
        <div class="easyzoom easyzoom--adjacent easyzoom--with-thumbnails col-md-8">
            <a href="@Model.PictureModels[0].FullSizeImageUrl" title="@Model.PictureModels[0].Title" id="main-product-img-lightbox-anchor-@Model.Id">
                <img class="animated slideInLeft" alt="@Model.PictureModels[0].AlternateText" src="@Model.PictureModels[0].ImageUrl" title="@Model.PictureModels[0].Title" height="360" itemprop="image" id="thumb-product-img-@Model.Id" />
            </a>
        </div>

        <script>
            $(document).ready(function () {
                // Instantiate EasyZoom instances
                var $easyzoom = $('.easyzoom').easyZoom();

                // Setup thumbnails example
                var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

                $('.thumbnails').on('click', 'a', function (e) {
                    var $this = $(this);

                    e.preventDefault();
                    // Use EasyZoom's `swap` method
                    api1.swap($this.data('standard'), $this.attr('href'));                    
                });
            });
        </script>
    }
    else
    {
        @foreach (var picture in Model.PictureModels)
        {
            <img alt="@picture.AlternateText" src="@picture.ImageUrl" data-zoom-image="@picture.FullSizeImageUrl" title="@picture.Title" itemprop="image" id="main-product-img-@Model.Id" />
        }
    }

    @*@if (Model.PictureModels.Count > 1)
        {
            @*if (Model.PictureModels.Count <= 3)
                {
                    <div class="picture-thumbs">
                        @foreach (var picture in Model.PictureModels)
                        {
                            <a class="thumb-item thumb-popup-link">
                                <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                            </a>
                        }
                    </div>
                }
                else
                {*@
    @*<div class="picture-thumbs product-slider" id="product-slider">
                @foreach (var picture in Model.PictureModels)
                {
                    <a class="thumb-item thumb-popup-link">
                        <img class="owl-lazy" data-src="@picture.ThumbImageUrl" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </a>
                }
            </div>
            //}
            <script type="text/javascript" asp-location="Footer">
                $(document).ready(function () {
                    $('.thumb-item img').on('click', function () {
                        $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));

                        var ez = $('#main-product-img-@Model.Id').data('elevateZoom');
                        ez.swaptheimage($(this).attr('data-defaultsize'), $(this).attr('data-fullsize'));

                        $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                        $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                    });
                });
            </script>
        }*@
</div>
